.front2 {
    background-image: url("https://i.ibb.co/QjSMKqz/new-front-1.png");
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-mask-image: url("https://i.ibb.co/MNYjtDb/mask.png");
    mask-image: url("https://i.ibb.co/MNYjtDb/mask.png");
    -webkit-mask-size: 5000% 100%;
    mask-size: 5000% 100%;
    -webkit-animation: mask-play 2s steps(20) forwards;
    animation: mask-play 2s steps(20) forwards;
    animation-delay: 2s;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
  }
  
  .front {
    width: 100%;
    height: 100%;
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    object-fit: cover;
  }
  
  @-webkit-keyframes mask-play {
    from {
    -webkit-mask-position: 0% 0;
    mask-position: 0% 0;
    }
    to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
    }
  }
  
  @keyframes mask-play {
    from {
    -webkit-mask-position: 0% 0;
    mask-position: 0% 0;
    }
    to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
    }
  }