// Color Variable
$white-color: #ffffff;
$black-color: #000000;
$gray-color: #cccccc;
$light-gray-color: #f9f9f9;

$brand-color: #4b4e6d;
$brand-color-dark: #3e4058;
$brand-color-light: #676b94;
$brand-color-extralight: #8185b4;



$container-width: 150rem;
$containers-width: 120rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;


// Font
$font-default: 1.6rem;
// $slider-imgWidth: 34rem;

